---
layout: default
title: Members
permalink: /members/
description: Interested in finding out who are in IEEE-HKN NUS? View all members.
---
	
<section class="wrapper style5">
	<div class="inner">
		<!-- Add new inducted members here -->
		{% for yr in site.data.members %}
		<section>
			<h4 align="center">{{ yr.name }}</h4>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for member in yr.members %}
						<tr><td align="center">{{ member }}</td></tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>

		<br><br>
		{% endfor %}
</section>
