
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138650989-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-138650989-2');
    </script>
    
    <title>IEEE-HKN NUS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Founded on 28 October 1904 for students of electrical engineering, IEEE Eta Kappa Nu (IEEE-HKN) is the honour society of IEEE that strives to promote excellence in the profession and in education among its student members through developing the 3 ideals of Scholarship, Character, and Attitude.">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico">
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
	