<nav id="nav">
    <ul>
        <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
                <ul>
                    <li><a href="{% link search.html %}"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Search</a></li>
                    <li><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a></li>
                    <li><a href="{% link about.html %}"><i class="fa fa-info fa-fw" aria-hidden="true"></i>&nbsp; About</a></li>
                    <li><a href="https://nus-ieee-hkn.github.io/news/"><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i>&nbsp; News</a></li>
                    <li><a href="{% link resources.html %}"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Resources</a></li>
                    <li><a href="{% link calendar.html %}"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp; Calendar</a></li>
                    <li><a href="{% link committee.html %}"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i>&nbsp; Committee</a></li>
                    <li><a href="{% link members.html %}"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Members</a></li>
                    <li><a href="{% link contactus.html %}"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; Contact Us</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>